<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="/login">Aiuto</a>
</nav>
<div class="container">
	<div class="row align-items-start">
		<div class="col pb-3">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="/assets/images/magazzino1.jpg"
					alt="Generic placeholder image">
				<div class="card-body">
					<h5 class="mt-1">SMAG</h5>
					<h6 class="mt-0">Gestione Magazzino Alimentare</h6>
					 <a href="#" class="btn btn-outline-primary btn-lg mt-2">Entra</a>					
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="/assets/images/cie.jpg"
					alt="Generic placeholder image">
				<div class="card-body">
					<h5 class="mt-0">SMCARTA</h5>
					<h6 class="mt-0">SMCARTA - Carta d'Identità Digitale</h6>
					<a href="#" class="btn btn-outline-primary btn-lg mt-2">Entra</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="/assets/images/scuola1.jpg"
					alt="Generic placeholder image">
				<div class="card-body">
					<h5 class="mt-0">SMCEDOLE</h5>
					<h6 class="mt-0">Gestione Cedole Librarie</h6>
					<a href="#" class="btn btn-outline-primary btn-lg mt-2">Entra</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="/assets/images/rubrica.jpg"
					alt="Generic placeholder image">
				<div class="card-body">
					<h5 class="mt-0">SMRUBRICA</h5>
					<h6 class="mt-0">Rubrica del Personale del Comune di San Miniato</h6>
					<a href="#" class="btn btn-outline-primary btn-lg mt-2">Entra</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="/assets/images/reclami1.jpg"
					alt="Generic placeholder image">
				<div class="card-body">
					<h5 class="mt-0">SMRECLAMI</h5>
					<h6 class="mt-0">Gestione dei Reclami</h6>
					<a href="#" class="btn btn-outline-primary btn-lg mt-2">Entra</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="/assets/images/magazzino1.jpg"
					alt="Generic placeholder image">
				<div class="card-body">
					<h5 class="mt-0">SMTICKET</h5>
					<h6 class="mt-0">Sistema di gestione Ticket interni</h6>
					<a href="#" class="btn btn-outline-primary btn-lg mt-2">Entra</a>
				</div>
			</div>
		</div>

	</div>
</div>


