<div *ngIf="user" class="container" fxFlexFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="40" class="UserProfile">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{user.name | uppercase}} - {{user.surname | uppercase}}</mat-card-title>
        <mat-card-subtitle>ID: {{user.id}} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <p>
          User Name: <b>{{user.username}}</b>
        </p>
        <p>
          eMail: <b>{{user.email}}</b>
        </p>
        <p>
          Telefono: <b>{{user.telephone}}</b>
        </p>
        <p>
          Cellulare: <b>{{user.mobile}}</b>
        </p>
        <button (click)="goBack()">go back</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="35">
    <mat-card>
      <mat-card-header>
        <mat-card-title>ruoli</mat-card-title>
        <mat-card-subtitle>permessi assegnati </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-userRoles></app-userRoles>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="35" ngxSplitArea>
    <mat-card>
      <mat-card-header>
        <mat-card-title>settori</mat-card-title>
        <mat-card-subtitle>settori di appartenenza </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-userSectors></app-userSectors>
      </mat-card-content>
    </mat-card>
  </div>

</div>