<div class="userEditContainer">
  <h2 mat-dialog-title>{{data.description}}</h2>
  <mat-dialog-content id="userEditDialg" [formGroup]="userEditform">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>ID </mat-label>
            <input matInput id="idInput" placeholder="id" [formControl]="userEditform.controls['id']">
            <mat-icon matSuffix>how_to_reg</mat-icon>            
          </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Username</mat-label>
              <input matInput id="usernameInput" placeholder="Username" [formControl]="userEditform.controls['username']">
              <mat-icon matSuffix>how_to_reg</mat-icon>
              <mat-hint>inserire il nome dell'utente</mat-hint>
            </mat-form-field>
          </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>Nome </mat-label>
        <input matInput id="nomeInput" placeholder="Nome" [formControl]="userEditform.controls['name']">
        <mat-icon matSuffix>how_to_reg</mat-icon>
        <mat-hint>inserire il nome dell'utente</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Cognome </mat-label>
        <input matInput id="cognomeInput" placeholder="Cognome" [formControl]="userEditform.controls['surname']">
        <mat-icon matSuffix>how_to_reg</mat-icon>
        <mat-hint>inserire il cognome dell'utente</mat-hint>

      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>email</mat-label>
        <input matInput  id="emailInput" type="email" placeholder="e-Mail" [formControl]="userEditform.controls['email']">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>inserire la mal dell'utente</mat-hint>
      </mat-form-field>
    </p>
    <p>

      <mat-form-field appearance="standard">
        <mat-label>Telefono</mat-label>
        <input matInput id="telefonoInput" type="tel" placeholder="Telefono" [formControl]="userEditform.controls['telephone']">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>inserire il telefono</mat-hint>
      </mat-form-field>
    </p>
    <p>

      <mat-form-field appearance="standard">
        <mat-label>Cellulare (RAM)</mat-label>
        <input matInput id="cellInput" type="tel" placeholder="Cellulare" [formControl]="userEditform.controls['mobile']">
        <mat-icon matSuffix>phonelink_ring</mat-icon>
        <mat-hint>inserire il cellulare</mat-hint>
      </mat-form-field>
    </p>
    <p>

      <mat-form-field appearance="standard">
        <mat-label>PASSWORD</mat-label>
        <input matInput id="pwInput" type="password" placeholder="PASSWORD" [formControl]="userEditform.controls['password']">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-hint>inserire la passoword (per cambiarla)</mat-hint>
      </mat-form-field>
    </p>
    <p>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="onKOClick()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="onOKClick()">Save</button>
  </mat-dialog-actions>
</div>