
<mat-card class="main-card performance-card">
  <mat-card-header>
    <div mat-card-avatar class="performance-header-image"></div>
    <mat-card-title>Gestione Performance</mat-card-title>
    <mat-card-subtitle>Modulo gestione delle performance</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/images/performance.jpg" alt="Photo of performance">
  <mat-card-content>
  
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button mat-button> <a [routerLink]="['/performance']"> SELECT </a></button>
  </mat-card-actions>
</mat-card>


<mat-card class="main-card users-card">
  <mat-card-header>
    <div mat-card-avatar class="users-header-image"></div>
    <mat-card-title>Gestione Utenti</mat-card-title>
    <mat-card-subtitle>Modulo gestione utenti intranet</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/images/illustrated-people.jpg" alt="Photo of users">
  <mat-card-content>
  
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button mat-button> <a [routerLink]="['/user']"> SELECT </a></button>
  </mat-card-actions>
</mat-card>

<mat-card class="main-card wharehouse-card">
  <mat-card-header>
    <div mat-card-avatar class="wharehouse-header-image"></div>
    <mat-card-title>Gestione Magazzino</mat-card-title>
    <mat-card-subtitle>Modulo gestione approvvigionamento mensa</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/images/magazzino1.jpg" alt="Photo of wharehouse">
  <mat-card-content>
  
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>SELECT</button>
  </mat-card-actions>
</mat-card>


<mat-card class="main-card reclami-card">
  <mat-card-header>
    <div mat-card-avatar class="reclami-header-image"></div>
    <mat-card-title>Gestione Reclami</mat-card-title>
    <mat-card-subtitle>Modulo gestione reclami</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/images/reclami1.jpg" alt="Photo of wharehouse">
  <mat-card-content>
  
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>SELECT</button>
  </mat-card-actions>
</mat-card>

